
<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: rgb(255, 0, 200);
}

h1 {
  font-weight: bold;
}
</style>
</head>
<body>
<h1>SIRY PACHECO, CI:31.023.371, SECCIÓN 1</h1>
</body>
</html>
