<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vitality/Nosotros.com</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <div class="menu logo-nav">
      <a href="/index" class="logo">LINEA BLANCA</a>
      <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
      <nav class="navigation">
        <ul>
          <li><a href="/cuadricula">Productos</a></li>
          <li><a href="/sesion">Puntuar</a></li>
          <li><a href="/nosotros">Nosotros</a></li>
          <li>Renueva tu casa desde cualquier parte del mundo con Linea Blanca</li>
        </ul>
      </nav>
    </div>
  </header>

<main>
<div class="container">
    <div class="columna1">
      <h2>Nosotros</h2>
      <p>
        <p>Linea Blanca es una marca 100% venezolana con presencia en todo el territorio nacional cuya misión es ofrecer una gran variedad de electrodomésticos de excelente calidad y los mejores precios del mercado a nuestra estimada clientela
        </p><br>
        <p> A través de nuestra página web podrás encontrar una extensa diversidad de productos, desde audio y video, aires acondicionados,  neveras, cocinas; y muchos productos más para equipar tu hogar. </p><br>
        <p>Ven y descubre lo que Línea Blanca tiene para ofrecerte y  juntos hagamos de una casa, un hogar.</p><br>
      </p>
    </div>
    <div class="columna2">
      <img src="https://servitecniclar.com/wp-content/uploads/photo-gallery/imported_from_media_libray/electrodomesticos-varios.jpg?bwg=1631216795">
    </div>
</div>
</main>

<footer class="footer-section">
  <div class="copyright-area">
      <div class="container-footer">
          <div class="row-footer">
              <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                  <div class="copyright-text">
                      <p>Copyright &copy; 2023, todos los derechos reservados <a href="/index">LINEA BLANCA</a></p>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                  <div class="footer-menu">
                      <ul>
                        <li><a href="/login">Administrar</a></li>
                        <li><a href="/listado">Productos</a></li>
                       
                        <li><a href="/client">Registrarse</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer> 


  
</body>
</html>