<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LINEA BLANCA</title>
    <link href="/stylesheets/style1.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="menu logo-nav">
        <a href="/" class="logo">LINEA BLANCA</a>
        <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
        <nav class="navigation">
          <ul>
            
          </ul>
        </nav>
      </div>
    </header>

<div class="slider">
  <ul>
    <li><img src="https://us.123rf.com/450wm/eriksvoboda/eriksvoboda1710/eriksvoboda171000006/87215745-aire-acondicionado-lavadora-cocina-de-gas-y-nevera-negra-ilustraci%C3%B3n-3d-aislada-con-sombras.jpg" alt="2" width="300" height="300"></li>
    <li><img src="https://images.milanuncios.com/api/v1/ma-ad-media-pro/images/fdc9e6e5-e1e1-4c0f-a42a-0e71d4338d99?rule=hw396_70" alt="2" width="300" height="300"></li>
    <li><img src="https://www.semana.com/resizer/OS-i-9QcsuU_4bwAj2J23Le98sg=/1280x720/smart/filters:format(jpg):quality(80)/cloudfront-us-east-1.images.arcpublishing.com/semana/TGVVZATTDJGO7D3AW2P3RQDY5E.jpg" alt="2" width="300" height="300"></li>
  </ul>
</div>


  <div class="container-index">

    <div class="container-circulos">
      <div class="container-imagen">
        <img src="https://img.freepik.com/foto-gratis/acondicionador-aire-montado-pared-blanca_53876-128235.jpg" class="circulo">
        <h2>AIRE</h2>
      </div>
      <div class="container-imagen">
        <img src="https://www.lg.com/cac_en/images/washing-machines-and-dryers/md07576348/gallery/D-01.jpg" class="circulo">
        <h2>LAVADORA</h2>
      </div>
      <div class="container-imagen">
        <img src="https://static.wixstatic.com/media/ea6740_3b4bb0d17e514893984879a83d9e8be5~mv2.png/v1/fill/w_260,h_260,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ea6740_3b4bb0d17e514893984879a83d9e8be5~mv2.png" class="circulo">
        <h2>COCINA</h2>
      </div>
    </div>


    <div class="contenedor-columna">
      <div class="columna1">
        <h2>SOBRE LINEA BLANCA </h2>
        <p>Descubre nuestra amplia selección de electrodomésticos de calidad para equipar tu hogar con la última tecnología. Simplifica tu vida diaria con productos duraderos y eficientes que harán de tu casa un lugar más cómodo y funcional. Bienvenido a la revolución de la línea blanca en tu hogar</p>
      </div>
      <div class="columna2">
        <img src="https://www.shutterstock.com/image-illustration/home-appliances-set-household-kitchen-260nw-232583713.jpg" alt="1" width="100" height="220">
      </div>
    </div>

  </div>


  <footer class="footer-section">
    <div class="copyright-area">
        <div class="container-footer">
            <div class="row-footer">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                      <p>Copyright &copy; 2023, todos los derechos reservados <a href="/">LINEA BLANCA</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                          <li><a href="/login">Administrar</a></li>
                          <li><a href="/nosotros">Nosotros</a></li>
                          <li><a href="/sesion"> Iniciar sesion</a></li>
                          <li><a href="/client">Registrarse</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>   


    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script  src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script  src="assets/js/scripts.js"></script>
</body>
</html>